<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.Simform.objectiveCApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Supporting Files/Prefix.pch:objC:importUIKit</key>
		<string>@import UIKit;</string>
		<key>Supporting Files/Prefix.pch:objC:importAppDelegate</key>
		<string>#import &quot;AppDelegate.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importConstant</key>
		<string>#import &quot;constant.h&quot;
#import &quot;constant.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importAFNetwork</key>
		<string>#import &quot;AFNetworking.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importRechabilities</key>
		<string>#import &quot;Reachability.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importHexColors</key>
		<string>#import &quot;HexColor.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importUiImageEffect</key>
		<string>#import &quot;UIImage+ImageEffects.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importNSDateTimeAgo</key>
		<string>#import &quot;NSDate+TimeAgo.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importHelper</key>
		<string>#import &quot;HelperClass.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importScProgressHud</key>
		<string>#import &quot;SVProgressHUD.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importObjAppDelegate</key>
		<string>#define objAppDelegate ((AppDelegate *)[[UIApplication sharedApplication] delegate])</string>
		<key>Supporting Files/Prefix.pch:objC:importObjHelper</key>
		<string>#define objHelper [[HelperClass alloc]init]</string>
		<key>Supporting Files/Prefix.pch:objC:importCustomAlert</key>
		<string>#include &quot;DTAlertView.h&quot;</string>
		<key>Supporting Files/Prefix.pch:objC:importSDwebimages</key>
		<string>#include &quot;UIImageView+WebCache.h&quot;</string>
		<key>Supporting Files/Info.plist:UIMainStoryboardFile</key>
		<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
            &lt;string&gt;Main&lt;/string&gt;</string>
		<key>Supporting Files/Info.plist:iPhone</key>
		<string>&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;armv7&lt;/string&gt;
&lt;/array&gt;</string>
		<key>Supporting Files/Info.plist:UISupportedInterfaceOrientations</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations&lt;/key&gt;
&lt;array&gt;
     &lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;
&lt;key&gt;UISupportedInterfaceOrientations~ipad&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationPortraitUpsideDown&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;</string>
		<key>Supporting Files/Info.plist:Fabric</key>
		<string>&lt;key&gt;Fabric&lt;/key&gt;
         &lt;dict&gt;
            &lt;key&gt;APIKey&lt;/key&gt;
            &lt;string&gt;API key goes here&lt;/string&gt;
            &lt;key&gt;Kits&lt;/key&gt;
            &lt;array&gt;
            &lt;dict&gt;
            &lt;key&gt;KitName&lt;/key&gt;
            &lt;string&gt;Crashlytics&lt;/string&gt;
            &lt;key&gt;KitInfo&lt;/key&gt;
            &lt;dict&gt;
            &lt;/dict&gt;
            &lt;/dict&gt;
            &lt;/array&gt;
        &lt;/dict&gt;</string>
		<key>Supporting Files/main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
		</dict>
		<key>Resources/</key>
		<dict>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
        <key>utilities/DatabaseWrapper/DatabaseManager.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>DatabaseManager.h</string>
        </dict>
        <key>utilities/DatabaseWrapper/DatabaseManager.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>DatabaseManager.m</string>
        </dict>
        <key>utilities/DatabaseWrapper/FMDatabase.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabase.h</string>
        </dict>
        <key>utilities/DatabaseWrapper/FMDatabase.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabase.m</string>
        </dict>
        
        
        <key>utilities/DatabaseWrapper/FMDatabaseAdditions.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabaseAdditions.h</string>
        </dict>
        <key>utilities/DatabaseWrapper/FMDatabaseAdditions.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabaseAdditions.m</string>
        </dict>
        
        
        <key>utilities/DatabaseWrapper/FMDatabasePool.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabasePool.h</string>
        </dict>
        <key>utilities/DatabaseWrapper/FMDatabasePool.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabasePool.m</string>
        </dict>
        
        <key>utilities/DatabaseWrapper/FMDatabaseQueue.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabaseQueue.h</string>
        </dict>
        <key>utilities/DatabaseWrapper/FMDatabaseQueue.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDatabaseQueue.m</string>
        </dict>
        
        <key>utilities/DatabaseWrapper/FMResultSet.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMResultSet.h</string>
        </dict>
        <key>utilities/DatabaseWrapper/FMResultSet.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMResultSet.m</string>
        </dict>

        <key>utilities/DatabaseWrapper/FMDB.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>utilities</string>
                <string>DatabaseWrapper</string>
            </array>
            <key>Path</key>
            <string>FMDB.h</string>
        </dict>


		<key>utilities/DTAlertView/DTProgressStatus.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>DTAlertView</string>
			</array>
			<key>Path</key>
			<string>DTProgressStatus.h</string>
		</dict>
		<key>utilities/DTAlertView/DTProgressStatus.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>DTAlertView</string>
			</array>
			<key>Path</key>
			<string>DTProgressStatus.m</string>
		</dict>
		<key>utilities/DTAlertView/DTAlertView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>DTAlertView</string>
			</array>
			<key>Path</key>
			<string>DTAlertView.h</string>
		</dict>
		<key>utilities/DTAlertView/DTAlertView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>DTAlertView</string>
			</array>
			<key>Path</key>
			<string>DTAlertView.m</string>
		</dict>
		<key>utilities/SDWebImage/MKAnnotationView+WebCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>MKAnnotationView+WebCache.h</string>
		</dict>
		<key>utilities/SDWebImage/MKAnnotationView+WebCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>MKAnnotationView+WebCache.m</string>
		</dict>
		<key>utilities/SDWebImage/NSData+ImageContentType.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>NSData+ImageContentType.h</string>
		</dict>
		<key>utilities/SDWebImage/NSData+ImageContentType.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>NSData+ImageContentType.m</string>
		</dict>
		<key>utilities/SDWebImage/SDImageCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDImageCache.h</string>
		</dict>
		<key>utilities/SDWebImage/SDImageCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDImageCache.m</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageCompat.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageCompat.h</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageCompat.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageCompat.m</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageDecoder.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageDecoder.h</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageDecoder.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageDecoder.m</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageDownloader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageDownloader.h</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageDownloader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageDownloader.m</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageDownloaderOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageDownloaderOperation.h</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageDownloaderOperation.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageDownloaderOperation.m</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageManager.h</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageManager.m</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImageOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImageOperation.h</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImagePrefetcher.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImagePrefetcher.h</string>
		</dict>
		<key>utilities/SDWebImage/SDWebImagePrefetcher.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>SDWebImagePrefetcher.m</string>
		</dict>
		<key>utilities/SDWebImage/UIButton+WebCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIButton+WebCache.h</string>
		</dict>
		<key>utilities/SDWebImage/UIButton+WebCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIButton+WebCache.m</string>
		</dict>
		<key>utilities/SDWebImage/UIImage+GIF.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImage+GIF.h</string>
		</dict>
		<key>utilities/SDWebImage/UIImage+GIF.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImage+GIF.m</string>
		</dict>
		<key>utilities/SDWebImage/UIImage+MultiFormat.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImage+MultiFormat.h</string>
		</dict>
		<key>utilities/SDWebImage/UIImage+MultiFormat.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImage+MultiFormat.m</string>
		</dict>
		<key>utilities/SDWebImage/UIImage+WebP.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImage+WebP.h</string>
		</dict>
		<key>utilities/SDWebImage/UIImage+WebP.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImage+WebP.m</string>
		</dict>
		<key>utilities/SDWebImage/UIImageView+HighlightedWebCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImageView+HighlightedWebCache.h</string>
		</dict>
		<key>utilities/SDWebImage/UIImageView+HighlightedWebCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImageView+HighlightedWebCache.m</string>
		</dict>
		<key>utilities/SDWebImage/UIImageView+WebCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImageView+WebCache.h</string>
		</dict>
		<key>utilities/SDWebImage/UIImageView+WebCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIImageView+WebCache.m</string>
		</dict>
		<key>utilities/SDWebImage/UIView+WebCacheOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIView+WebCacheOperation.h</string>
		</dict>
		<key>utilities/SDWebImage/UIView+WebCacheOperation.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SDWebImage</string>
			</array>
			<key>Path</key>
			<string>UIView+WebCacheOperation.m</string>
		</dict>
		<key>utilities/AFNetworking/AFHTTPRequestOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFHTTPRequestOperation.h</string>
		</dict>
		<key>utilities/AFNetworking/AFHTTPRequestOperation.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFHTTPRequestOperation.m</string>
		</dict>
		<key>utilities/AFNetworking/AFHTTPRequestOperationManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFHTTPRequestOperationManager.h</string>
		</dict>
		<key>utilities/AFNetworking/AFHTTPRequestOperationManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFHTTPRequestOperationManager.m</string>
		</dict>
		<key>utilities/AFNetworking/AFHTTPSessionManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFHTTPSessionManager.h</string>
		</dict>
		<key>utilities/AFNetworking/AFHTTPSessionManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFHTTPSessionManager.m</string>
		</dict>
		<key>utilities/AFNetworking/AFNetworking.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworking.h</string>
		</dict>
		<key>utilities/AFNetworking/AFNetworkReachabilityManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworkReachabilityManager.h</string>
		</dict>
		<key>utilities/AFNetworking/AFNetworkReachabilityManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFNetworkReachabilityManager.m</string>
		</dict>
		<key>utilities/AFNetworking/AFSecurityPolicy.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFSecurityPolicy.h</string>
		</dict>
		<key>utilities/AFNetworking/AFSecurityPolicy.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFSecurityPolicy.m</string>
		</dict>
		<key>utilities/AFNetworking/AFURLConnectionOperation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLConnectionOperation.h</string>
		</dict>
		<key>utilities/AFNetworking/AFURLConnectionOperation.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLConnectionOperation.m</string>
		</dict>
		<key>utilities/AFNetworking/AFURLRequestSerialization.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLRequestSerialization.h</string>
		</dict>
		<key>utilities/AFNetworking/AFURLRequestSerialization.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLRequestSerialization.m</string>
		</dict>
		<key>utilities/AFNetworking/AFURLResponseSerialization.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLResponseSerialization.h</string>
		</dict>
		<key>utilities/AFNetworking/AFURLResponseSerialization.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLResponseSerialization.m</string>
		</dict>
		<key>utilities/AFNetworking/AFURLSessionManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLSessionManager.h</string>
		</dict>
		<key>utilities/AFNetworking/AFURLSessionManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>AFNetworking</string>
			</array>
			<key>Path</key>
			<string>AFURLSessionManager.m</string>
		</dict>
		<key>utilities/constant.h</key>
		<dict>
			<key>Group</key>
			<string>utilities</string>
			<key>Path</key>
			<string>constant.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>utilities/Crashlytics.framework</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
			</array>
			<key>Path</key>
			<string>Crashlytics.framework</string>
		</dict>
		<key>utilities/Fabric.framework</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
			</array>
			<key>Path</key>
			<string>Fabric.framework</string>
		</dict>
		<key>utilities/dateTimeHelper/NSDate+TimeAgo.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>dateTimeHelper</string>
			</array>
			<key>Path</key>
			<string>NSDate+TimeAgo.h</string>
		</dict>
		<key>utilities/dateTimeHelper/NSDate+TimeAgo.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>dateTimeHelper</string>
			</array>
			<key>Path</key>
			<string>NSDate+TimeAgo.m</string>
		</dict>
		<key>utilities/dateTimeHelper/NSDateTimeAgo.bundle</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>dateTimeHelper</string>
			</array>
			<key>Path</key>
			<string>NSDateTimeAgo.bundle</string>
		</dict>
		<key>Resources/Images.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Images.xcassets</string>
		</dict>
		<key>Images/</key>
		<dict>
			<key>Path</key>
			<string>Images/</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Controllers/</key>
		<dict>
			<key>Path</key>
			<string>Controllers/</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>utilities/helperClass/HelperClass.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>helperClass</string>
			</array>
			<key>Path</key>
			<string>HelperClass.h</string>
		</dict>
		<key>utilities/helperClass/HelperClass.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>helperClass</string>
			</array>
			<key>Path</key>
			<string>HelperClass.m</string>
		</dict>
		<key>utilities/Hexcolor/HexColor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>Hexcolor</string>
			</array>
			<key>Path</key>
			<string>HexColor.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>utilities/Hexcolor/HexColor.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>Hexcolor</string>
			</array>
			<key>Path</key>
			<string>HexColor.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>utilities/Reachability/Reachability.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>Reachability.h</string>
		</dict>
		<key>utilities/Reachability/Reachability.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>Reachability.m</string>
		</dict>
		<key>utilities/SVProgressHUD/SVIndefiniteAnimatedView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SVProgressHUD</string>
			</array>
			<key>Path</key>
			<string>SVIndefiniteAnimatedView.h</string>
		</dict>
		<key>utilities/SVProgressHUD/SVIndefiniteAnimatedView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SVProgressHUD</string>
			</array>
			<key>Path</key>
			<string>SVIndefiniteAnimatedView.m</string>
		</dict>
		<key>utilities/SVProgressHUD/SVProgressHUD.bundle</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SVProgressHUD</string>
			</array>
			<key>Path</key>
			<string>SVProgressHUD.bundle</string>
		</dict>
		<key>utilities/SVProgressHUD/SVProgressHUD.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SVProgressHUD</string>
			</array>
			<key>Path</key>
			<string>SVProgressHUD.h</string>
		</dict>
		<key>utilities/SVProgressHUD/SVProgressHUD.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>SVProgressHUD</string>
			</array>
			<key>Path</key>
			<string>SVProgressHUD.m</string>
		</dict>
		<key>utilities/UIImage+ImageEffects/UIImage+ImageEffects.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>UIImage+ImageEffects</string>
			</array>
			<key>Path</key>
			<string>UIImage+ImageEffects.h</string>
		</dict>
		<key>utilities/UIImage+ImageEffects/UIImage+ImageEffects.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>UIImage+ImageEffects</string>
			</array>
			<key>Path</key>
			<string>UIImage+ImageEffects.m</string>
		</dict>
		<key>utilities/Webservice/WebServiceWapper.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>Webservice</string>
			</array>
			<key>Path</key>
			<string>WebServiceWapper.h</string>
		</dict>
		<key>utilities/Webservice/WebServiceWapper.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>utilities</string>
				<string>Webservice</string>
			</array>
			<key>Path</key>
			<string>WebServiceWapper.m</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>welcome developers. lets make developing easy. happy coding. :) tejas ardeshna</string>
	<key>Identifier</key>
	<string>com.Simform.iOSApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Supporting Files/Prefix.pch:objC:importUIKit</string>
		<string>Supporting Files/Prefix.pch:objC:importAFNetwork</string>
		<string>Supporting Files/Prefix.pch:objC:importAppDelegate</string>
		<string>Supporting Files/Prefix.pch:objC:importConstant</string>
		<string>Supporting Files/Prefix.pch:objC:importRechabilities</string>
		<string>Supporting Files/Prefix.pch:objC:importHexColors</string>
		<string>Supporting Files/Prefix.pch:objC:importUiImageEffect</string>
		<string>Supporting Files/Prefix.pch:objC:importNSDateTimeAgo</string>
		<string>Supporting Files/Prefix.pch:objC:importHelper</string>
		<string>Supporting Files/Prefix.pch:objC:importScProgressHud</string>
		<string>Supporting Files/Prefix.pch:objC:importObjAppDelegate</string>
		<string>Supporting Files/Prefix.pch:objC:importObjHelper</string>
		<string>Supporting Files/Prefix.pch:objC:importCustomAlert</string>
		<string>Supporting Files/Prefix.pch:objC:importSDwebimages</string>
		<string>Supporting Files/Info.plist:iPhone</string>
		<string>Supporting Files/Info.plist:UISupportedInterfaceOrientations</string>
		<string>Supporting Files/Info.plist:Fabric</string>
		<string>Supporting Files/main.m</string>
		<string>Supporting Files/Info.plist:UIMainStoryboardFile</string>
		<string>utilities/constant.h</string>
		<string>utilities/AFNetworking/AFHTTPRequestOperation.h</string>
		<string>utilities/AFNetworking/AFHTTPRequestOperation.m</string>
		<string>utilities/AFNetworking/AFHTTPRequestOperationManager.h</string>
		<string>utilities/AFNetworking/AFHTTPRequestOperationManager.m</string>
		<string>utilities/AFNetworking/AFHTTPSessionManager.h</string>
		<string>utilities/AFNetworking/AFHTTPSessionManager.m</string>
		<string>utilities/AFNetworking/AFNetworking.h</string>
		<string>utilities/AFNetworking/AFNetworkReachabilityManager.h</string>
		<string>utilities/AFNetworking/AFNetworkReachabilityManager.m</string>
		<string>utilities/AFNetworking/AFSecurityPolicy.h</string>
		<string>utilities/AFNetworking/AFSecurityPolicy.m</string>
		<string>utilities/AFNetworking/AFURLConnectionOperation.h</string>
		<string>utilities/AFNetworking/AFURLConnectionOperation.m</string>
		<string>utilities/AFNetworking/AFURLRequestSerialization.h</string>
		<string>utilities/AFNetworking/AFURLRequestSerialization.m</string>
		<string>utilities/AFNetworking/AFURLResponseSerialization.h</string>
		<string>utilities/AFNetworking/AFURLResponseSerialization.m</string>
		<string>utilities/AFNetworking/AFURLSessionManager.h</string>
		<string>utilities/AFNetworking/AFURLSessionManager.m</string>
        <string>utilities/SDWebImage/MKAnnotationView+WebCache.h</string>
        <string>utilities/SDWebImage/MKAnnotationView+WebCache.m</string>
        <string>utilities/SDWebImage/NSData+ImageContentType.h</string>
        <string>utilities/SDWebImage/NSData+ImageContentType.m</string>
        <string>utilities/SDWebImage/SDImageCache.h</string>
        <string>utilities/SDWebImage/SDImageCache.m</string>
        <string>utilities/SDWebImage/SDWebImageCompat.h</string>
        <string>utilities/SDWebImage/SDWebImageCompat.m</string>
        <string>utilities/SDWebImage/SDWebImageDecoder.h</string>
        <string>utilities/SDWebImage/SDWebImageDecoder.m</string>
        <string>utilities/SDWebImage/SDWebImageDownloader.h</string>
        <string>utilities/SDWebImage/SDWebImageDownloader.m</string>
        <string>utilities/SDWebImage/SDWebImageDownloaderOperation.h</string>
        <string>utilities/SDWebImage/SDWebImageDownloaderOperation.m</string>
        <string>utilities/SDWebImage/SDWebImageManager.h</string>
        <string>utilities/SDWebImage/SDWebImageManager.m</string>
        <string>utilities/SDWebImage/SDWebImageOperation.h</string>
        <string>utilities/SDWebImage/SDWebImagePrefetcher.h</string>
        <string>utilities/SDWebImage/SDWebImagePrefetcher.m</string>
        <string>utilities/SDWebImage/UIButton+WebCache.h</string>
        <string>utilities/SDWebImage/UIButton+WebCache.m</string>
        <string>utilities/SDWebImage/UIImage+GIF.h</string>
        <string>utilities/SDWebImage/UIImage+GIF.m</string>
       <string>utilities/SDWebImage/UIImage+MultiFormat.h</string>
        <string>utilities/SDWebImage/UIImage+MultiFormat.m</string>
        <string>utilities/SDWebImage/UIImage+WebP.h</string>
        <string>utilities/SDWebImage/UIImage+WebP.m</string>
        <string>utilities/SDWebImage/UIImageView+HighlightedWebCache.h</string>
        <string>utilities/SDWebImage/UIImageView+HighlightedWebCache.m</string>
        <string>utilities/SDWebImage/UIImageView+WebCache.h</string>
        <string>utilities/SDWebImage/UIImageView+WebCache.m</string>
        <string>utilities/SDWebImage/UIView+WebCacheOperation.h</string>
        <string>utilities/SDWebImage/UIView+WebCacheOperation.m</string>
		<string>utilities/Crashlytics.framework</string>
		<string>utilities/Fabric.framework</string>
		<string>utilities/dateTimeHelper/NSDate+TimeAgo.h</string>
		<string>utilities/dateTimeHelper/NSDate+TimeAgo.m</string>
		<string>utilities/dateTimeHelper/NSDateTimeAgo.bundle</string>
		<string>Resources/Images.xcassets</string>
		<string>Main.storyboard</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
        <string>utilities/DatabaseWrapper/DatabaseManager.h</string>
        <string>utilities/DatabaseWrapper/DatabaseManager.m</string>
        <string>utilities/DatabaseWrapper/FMDatabase.h</string>
        <string>utilities/DatabaseWrapper/FMDatabase.m</string>
        <string>utilities/DatabaseWrapper/FMDatabaseAdditions.h</string>
        <string>utilities/DatabaseWrapper/FMDatabaseAdditions.m</string>
        <string>utilities/DatabaseWrapper/FMDatabasePool.h</string>
        <string>utilities/DatabaseWrapper/FMDatabasePool.m</string>
        <string>utilities/DatabaseWrapper/FMDatabaseQueue.h</string>
        <string>utilities/DatabaseWrapper/FMDatabaseQueue.m</string>
        <string>utilities/DatabaseWrapper/FMResultSet.h</string>
        <string>utilities/DatabaseWrapper/FMResultSet.m</string>
        <string>utilities/DatabaseWrapper/FMDB.h</string>
		<string>utilities/helperClass/HelperClass.h</string>
		<string>utilities/helperClass/HelperClass.m</string>
		<string>utilities/Hexcolor/HexColor.h</string>
		<string>utilities/Hexcolor/HexColor.m</string>
		<string>utilities/Reachability/Reachability.h</string>
		<string>utilities/Reachability/Reachability.m</string>
		<string>utilities/SVProgressHUD/SVProgressHUD.h</string>
		<string>utilities/SVProgressHUD/SVProgressHUD.m</string>
		<string>utilities/SVProgressHUD/SVProgressHUD.bundle</string>
		<string>utilities/SVProgressHUD/SVIndefiniteAnimatedView.m</string>
		<string>utilities/SVProgressHUD/SVIndefiniteAnimatedView.h</string>
		<string>utilities/UIImage+ImageEffects/UIImage+ImageEffects.h</string>
		<string>utilities/UIImage+ImageEffects/UIImage+ImageEffects.m</string>
		<string>utilities/Webservice/WebServiceWapper.h</string>
		<string>utilities/Webservice/WebServiceWapper.m</string>
		<string>utilities/DTAlertView/DTAlertView.h</string>
		<string>utilities/DTAlertView/DTAlertView.m</string>
		<string>utilities/DTAlertView/DTProgressStatus.h</string>
		<string>utilities/DTAlertView/DTProgressStatus.m</string>
		<string>Controllers/</string>
		<string>Images/</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array/>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>CODE_SIGN_ENTITLEMENTS</key>
			<string>___PACKAGENAME___/Supporting Files/Entitlements.entitlements</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Ad Hoc</key>
			<dict>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
				<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
				<string>iPhone Distribution</string>
			</dict>
			<key>App Store</key>
			<dict>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
				<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
				<string>iPhone Distribution</string>
			</dict>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME</key>
				<string>LaunchImage</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
					<string>AppIcon</string>
				</dict>
				<key>Ad Hoc</key>
				<dict>
					<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
					<string>AppIcon</string>
				</dict>
				<key>App Store</key>
				<dict>
					<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
					<string>AppIcon</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
